<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddLoan</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">LooksForBooks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/books">Libri</a>
        <a class="nav-link" href="/author">Autori</a>
        <a class="nav-link" href="/loans">Prestiti</a>
      </div>
    </div>
  </div>
</nav>

    <h2>Inserisci i dati del prestito:</h2>
    <form action="/add/data/loans" method="post">
        <label for="libro_id">ID Libro (numerico):</label>
        <input type="text" id="libro_id" name="libro_id" required pattern="\d+">
        <br><br>

        <label for="utente_id">ID Utente (numerico):</label>
        <input type="text" id="utente_id" name="utente_id" required pattern="\d+">
        <br><br>

        <input type="submit" value="Inserisci">
    </form>

    <script>

    <button onclick="inviaDatiJSON()">Invia dati JSON</button>

    <script>
        function inviaDatiJSON() {
            // Ottieni i dati dal form
            var nome_ = document.getElementById('nome').value;


            // Costruisci l'oggetto JSON
            var datiJSON = {
                nome: nome_,

            };

            // Esegui la richiesta POST con i dati JSON
            fetch('/add/data/category', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datiJSON)
            });
        }
    </script>
</body>
</html>
