<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <!-- Includi Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Tutti gli Autori</h1>
        <ul class="list-group mt-3">
            {% for elem in author %}
            <li>
                <a href="{{ url_for('show_books_by_author', author_name = elem.author) }}">{{ elem.author}}</a>
            </li>

            {% endfor %}
        </ul>
    </div>
    <!-- Includi Bootstrap JS (opzionale) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
