<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BooksTitle</title>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>I Libri dell'autore</h1>
        <ul class="list-group mt-3">
            {% for elem in author %}
                <li class="list-group-item">{{ elem.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- Includi Bootstrap JS (opzionale) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>