<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <!-- Includi Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Tutti i Prestiti</h1>
        <div class="d-grid gap-2 d-md-block">
  <button>
      <a href="addloan.html" class="btn btn-success btn-lg btn-block" type="button">Aggiungi Prestito</a>
  </button></div>
    </div>
    <table class="table table-dark table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
      <th scope="col">Book</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for elem in loans %}
      <td>{{elem.id_loan}}</td>
      <td>{{elem.title}}</td>
      <td>{{elem.name}}</td>
      <td>{{elem.status}}</td>
    </tr>
        {% endfor %}
  </tbody>
</table>
    <!-- Includi Bootstrap JS (opzionale) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>








<!--{% for elem in loans %}-->
<!--    <div class="container text-center">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--        {{elem.title}}-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      {{elem.name}}-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      {{elem.status}}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--    {% endfor %}-->