<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Includi Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Home Page</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="/movies" class="btn btn-primary btn-lg btn-block">Mostra Film</a>


            </div>
            <div class="col-md-6">
                <a href="/categories" class="btn btn-success btn-lg btn-block">Mostra Categorie</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
         <div class="col-md-6">
                <a href="/aggiungiFilm" class="btn btn-success btn-lg btn-block">Aggiungi Film</a>
            </div>
    </div>
    <!-- Includi Bootstrap JS (opzionale) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
